/*  div, h1, h2, a , input, button, ul, li, nav, img{
    border:3px solid black;
}   */

.encabezado1{
    border-bottom: 1px solid rgb(212, 212, 212);
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.encabezado1 a{
    text-decoration: none;
    color: black;
}
.encabezado2 a{
    text-decoration: none;
    color: black;
}
.mensaje-auto{
    border-bottom: 1px solid rgb(212, 212, 212);
    display: grid;
    text-align: center;
    align-items: center;
}

.navbar{  
    border-top: 1px solid rgb(212, 212, 212);
    color:black;
}

.menu-total{
height: 205px;
}
.flhis{
    text-decoration: none;
    color: black;
}
.flhis:hover{
    color: black;
}
.navbar-brand{
display: flex;
} 
.cesta, .cliente{
    text-decoration: none;
    visibility: hidden;
   
}


/* Estilo para la barra de navegación (navbar) efecto deslizante */
.menu {
top: -300px; /* Inicialmente oculto arriba */
left: 0;
width: 100%;
transition: top 0.3s ease; /* Transición suave */
z-index: 100;
}
.menu.mostrar {
    z-index: 999;
    position: fixed;
    top: 0px;  
}
.mensaje-auto.ocultar {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
}
.encabezado1.ocultar {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    z-index: -10;
}
.redes.ocultar {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
}
#mensaje {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 1s ease-in-out;
}


/* y 778px */
@media (max-width: 992px) {
    .encabezado1{
        border-bottom: 0px;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .mensaje-auto{
        border-bottom: 0px;
       height: 50px;
    }
    .encabezado2{
        visibility: hidden;
        height: 0;
        width: 0;
    }
   
    .menu-total{
        height: 66px;
    }
    .navbar{  
        display: flex;
        right: 0px;
    }
    .flhis{
        visibility: hidden;
    }
    .navbar-brand{
        gap: 15px;
    }
    .cesta, .cliente{
        text-decoration: none;
        visibility: visible;
        
    }

}
