.oferta{
padding: 0px 5%;
}
.oferta img{
    border: 1px solid rgb(190, 190, 190);
border-radius: 10px;
}





@media (max-width: 992px) {

}
    

@media (max-width: 649px) {
    .carusel-promociones{
  
        height: 50px;
    }
}
@media (max-width:400px) {

}
  
