@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap";

:root {
  --main-color: #f7c110;
  --main-color-dark: #fa5514;
  --ray-color: #f5de11;
  --spark-color: #f59f1f;
  --back-color: #111111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--back-color);
}
main {
  transition: 0.8s;
  background: #000522;
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(to top, #000522, transparent);
      z-index: 1;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
    .personaje {
      top: 43%;
      object-fit: contain;
    }
    #text {
      position: relative;
      color: #fff;
      font-size: 10vw;
    }
  }
  .sec {
    position: relative;
    min-height: 500px;
    padding: 100px;
    .content {
      position: relative;
      z-index: 2;
      h2 {
        font-size: 3.5em;
        margin-bottom: 10px;
        color: #20496a;
      }
      p {
        font-size: 1.2em;
        color: #f5f7f8;
      }
    }
  }
}