@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap";
:root {
  --main-color: #f7c110;
  --main-color-dark: #fa5514;
  --ray-color: #f5de11;
  --spark-color: #f59f1f;
  --back-color: url("../../../img/fondos/textura3-1.jpg");
}


main {
  transition: 0.8s;
  width: 100%;
}
main section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  transition: 0.8s;
  
}
main section:before {
  
  content: "";
  position: absolute;
  bottom: 0;
  top: 90%;
  width: 100%;
  height: 200px;
  z-index: 1 ;
}
main section #banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

}
main section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
main section .personaje {
  -o-object-fit: contain;
     object-fit: contain;
     width: 75%;
     height: 75%;
     top: 45%;
  left: 15%;
}
main section #text {
  position: relative;
  color: #b3ff00;
  font-size: 10vw;
  bottom: 100px;
  text-shadow: 0 0 10px rgb(35, 173, 35);
}
main .sec {
  position: relative;
  min-height: 500px;
  padding: 100px;
  
}
main .sec .content {
 
  position: relative;
  z-index: 2;
}
main .sec .content h2 {

  margin-bottom: 10px;
  color: #20496a;
}
main .sec .content p {

  color: #f5f7f8;
}


@media (max-width: 992px) {

}
  

@media (max-width: 649px) {
  
}
@media (max-width:400px) {
  main section {
    height: 70vh;
  }
main section img {

  width: 100%;

  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
main section .personaje {
     width: 85%;
     height: 85%;
     top: 25%;
  left: 10%;
}
main section #text {
  bottom: 30px;
  font-size: 11vw;
}

}

